#add-meal-form {
  display: inline;
  text-align: center;
}

label {
  font-size: 25px;
  justify-self: start;
}

p {
  margin-left: 10px;
}

ul, li {
  margin-left: 50px;
  list-style-type: circle;
  padding: 0;
}