html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

h1 {
  font-family: 'Righteous', cursive;
  margin-left: 10px;
}

body {
  background-color: #F4A261;
  /* Use a system font, if none are available use an available sans-sarif font */
  margin: 0;
  color: #424748;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 100px;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
  grid-area: main;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4A261;
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 352px));
  font-size: 20px;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > button {
  grid-column: span 2;
  width: 160px;
  margin-left: auto;
  font-size: 22px;
}

body > nav {
  grid-area: nav;
  background-color: #E76F51;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:hover {
  color: #E9C46A;
  background-color: #843920;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='43' height='52' viewport='0 0 100 100' style='fill:black;font-size:26px;'><text y='50%'>🛩</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

nav > a.active {
  color: #E9C46A;
}

button {
  background-color:#F4A261;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 2px solid #E76F51;

}

button:hover {
  box-shadow: rgba(240, 95, 46, 0.4) 5px 5px;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='43' height='52' viewport='0 0 100 100' style='fill:black;font-size:26px;'><text y='50%'>🛩</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

select, input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
}