#edit-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  width:fit-content;
  margin-left: auto;
  font-size: 22px;
  border-radius: 5px;
  padding: 5px;
}

#add-meal-to-flight {
  display: inline;
  margin-bottom: 1em;
}

table {
  border-spacing: 10px;
}