<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights" method="POST">
    <label for="airline-input">Airline:</label>
    <input type="text" name="airline" id="airline-input">
    <label for="airport-input">Airport:</label>
    <input type="text" name="airport" id="airport-input">

    <label for="flight-no">Flight Number:</label>
    <input type="number" name="flightNo" id="flight-no-input">

    <label for="departs">Departure Date:</label>
    <input type="datetime-local" name="departs" id="departs-input" checked>
    <button type="submit">Add Flight</button>
  </form>
</main>

  <%- include('../partials/footer') %>
